<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Telemarker Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

</head>

<body>
  
  <div class="container" style="padding:15px; width:1530px; ">
    <div class="row">
      <div style = "padding:25px" class="col-md-12 jumbotron text-center">
        <i><h1>Telemarketing Dashboard</h1></i>
        <h4> Select your customer's id to show information </h4>
        <h4> Suggest any changes to customers that would decrease the churn possibility </h4>

      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="padding-left: 0px; padding-right: 15px;">
        <div class="well" style="padding:5px 15px 10px;">
          <h5>Select Customer ID:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Churn Probability</h3>
          </div>
          <div id="churn" class="panel-body" style="text-align:center; padding:10px">
            
          </div>
        </div>
        
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Customer Information</h3>
          </div>
          <div id="customer-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-10" style = "padding-right:0px">

        <b><h2 style="text-align:center;margin: 10px"> Change of Churn Rate When Customer Changes to ( ) </h2></b>
        <div class="panel" style="height: 800;">
          <div id="chartdiv" style="height: 800px;"></div>	
        </div>


    </div>

  
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
<script src="{{ url_for('static', filename='js/styles.css') }}"></script>



</html>